{% extends 'layout.twig' %}

{% block body %}
  
<!-- Aquí debes insertar la URL que corresponde al "init_point" -->

<a href='pagar'>Pagar</a>
<script type="text/javascript">
function execute_my_onreturn (json) {
    if (json.collection_status=='approved'){
        alert ('Pago acreditado');
    } else if(json.collection_status=='pending'){
        alert ('El usuario no completó el pago');
    } else if(json.collection_status=='in_process'){    
        alert ('El pago está siendo revisado');    
    } else if(json.collection_status=='rejected'){
        alert ('El pago fué rechazado, el usuario puede intentar nuevamente el pago');
    } else if(json.collection_status==null){
        alert ('El usuario no completó el proceso de pago, no se ha generado ningún pago');
    }
}
</script>

{% endblock %}
